.title {
  color: white;
  margin-bottom: 3rem;

  &__main,
  &__sub {
    font-weight: lighter;
    line-height: 2;
  }

  &__main {
    font-size: 1.6rem;
  }

  &__sub {
    font-size: 1.2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2,[col-start] 1fr [col-end]);
  grid-template-rows: repeat(4,[row-start] 1fr [row-end]);
  grid-template-areas: 'input1 textarea' 'input2 textarea' 'input3 textarea' '. button';
  max-width: 60rem;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;


  &__input {
    padding: 0.5rem 1.2rem;
    font-size: 1.6rem;
    font-family: inherit;
    outline:none;
    border:.1px solid transparent;

    &:focus:invalid{
      border: .1px solid rgba(255, 64, 64, 1);
    }

    &::placeholder {
      color: grey;
    }

    &--1 {
      grid-area: input1;
    }

    &--2 {
      grid-area: input2;
    }

    &--3 {
      grid-area: input3;
    }
  }

  &__button {
    grid-area: button;
  }

  &__textarea {
    grid-area: textarea;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    font-family: inherit;
    resize:none;
    outline:none;
    border:.1px solid transparent;


    &:focus:invalid{
      border:.1px solid rgba(255, 64, 64, 1);
    }
  }


  &__button{
    background-color:rgba(65, 183, 196, 1);
    border:none;
    color:white;
    font-size:1.6rem;
    cursor:pointer;
    transition:all 0.2s ease;

    &:hover{
      background-color:rgba(22, 61, 65, 1);

    }
  }
}
