@font-face {
  font-family:'Raleway-Regular';
  src: local('Raleway-Regular'),url(./assets/fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Raleway-Bold';
  src: local('Raleway-Bold'),url(./assets/fonts/Raleway/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family:'Raleway-SemiBold';
  src: local('Raleway-SemiBold'),url(./assets/fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family:'Raleway-Light';
  src: local('Raleway-Light'),url(./assets/fonts/Raleway/Raleway-Light.ttf) format('truetype');
}
